textarea#main
  border: none
  z-index: 1

  &:focus
    outline: none
    color: rgba(00,00,00,.9)

.intro
  display: none
  z-index: 2
  cursor: text

p.ind
  margin-left: 1em

p.gb
  margin-top: 7em


// ffs moz
@-moz-document url-prefix()
  textarea#main, intro
    padding: 0
    margin: 3em 25% 0 25%