---
title: Afive
---

<div class="logo"></div>

<div class="intro">

  <p>Hello.</p>

  <p class="ind">This is a5.</p>

  <p class="ind">Jot down things you need to remember.</p>

  <p class="ind">When you return your text will still be here.</p>

  <p class="gb">Goodbye.</p>

</div>

<form data-persist="garlic" method="POST">

  <textarea id="main" style="display: none;"></textarea>

</form>